<h2>Nouvel artiste</h2>
<div class="row">
  <div class="col-md-6">
  <form novalidate name="AddNewArtistForm" id="add-new-form" method="post" action="">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input class="form-control" type="text" ng-model="artist.name" required />
    </div>
    <button class="btn btn-primary" ng-disabled="AddNewArtistForm.$invalid || isUnchanged(artist)" id="add-new-btn" ng-click="add_new_artist(artist)">Enregistrer</button>
    <a href="#/artists" class="btn">Annuler</a>
  </form>
</div>
</div>